@model Service.ViewModel.UserOrderVM
@using Service.ViewModel

@{
    ViewData["Title"] = "Shop Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal totalPrice = 0;
    decimal discountAmount = ViewBag.DiscountAmount ?? 0;
    string discountCode = ViewBag.DiscountCode ?? string.Empty;
}




<section class="mb-lg-14 mb-8 mt-8">
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="col-12">
                <div>
                    <div class="mb-8">
                        <!-- text -->
                        <h1 class="fw-bold mb-0 text-white">Checkout</h1>
                       @*  <p class="mb-0">
                            Already have an account? Click here to
                            <a href="#!">Sign in</a>
                            .
                        </p> *@
                    </div>
                </div>
            </div>
        </div>
        <div>
            <!-- row -->
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <!-- accordion -->
                    <div class="accordion-flush" id="accordionFlushExample">
                        <!-- accordion item -->
                        <div class="accordion-item py-4">
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- heading one -->
                                <a href="#"
                                   class="fs-5 text-inherit collapsed h4"
                                   data-bs-toggle="collapse"
                                   data-bs-target="#flush-collapseOne"
                                   aria-expanded="true"
                                   aria-controls="flush-collapseOne">
                                    <i class="feather-icon icon-map-pin me-2 "></i>
                                    Delivery address
                                </a>
                               <!-- btn -->
                                @*  <a href="#" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addAddressModal">Add a new address</a> *@
                                <!-- collapse -->
                            </div>
                            <div id="flush-collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
                                <div class="mt-5">
                                    <div class="row">
                                        <div class="col-lg-6 col-12 mb-4">
                                            <!-- form -->
                                            <div class="card card-body p-6">
                                                @* <div class="form-check mb-4">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="homeRadio" checked />
                                                    <label class="form-check-label" for="homeRadio">Home</label>
                                                </div> *@
                                                <!-- address -->
                                                <address>
                                                    <strong>@Model.User.Username</strong>
                                                    <br />
                                                    @Model.User.Address
                                                   
                                                    <br />

                                                    <abbr title="Phone">@Model.User.PhoneNumber</abbr>
                                                </address>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-5 d-flex justify-content-end">
                                   
                                    <a href="#" class="btn btn-primary ms-2" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseFour">
                                        Next
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--accordion-item-->
                        <div class="accordion-item py-4">
                            <a href="#" class="text-inherit h5" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseFour">
                                <i class="feather-icon icon-credit-card me-2 "></i>
                                Payment Method
                                <!-- collapse -->
                            </a>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="mt-5">
                                    <div>
                                        <form id="formCheckout" asp-action="Checkout">
                                            <div class="card card-bordered shadow-none mb-2">
                                                <!-- card body -->
                                                <div class="card-body p-6">
                                                    <div class="d-flex">
                                                        <div class="form-check">
                                                            <!-- checkbox -->
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="paypal" value="paypal" />
                                                            <label class="form-check-label ms-2" for="paypal"></label>
                                                        </div>
                                                        <div>
                                                            <!-- title -->
                                                            <h5 class="mb-1 h6">Payment with Paypal</h5>
                                                            <p class="mb-0 small">You will be redirected to PayPal website to complete your purchase securely.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card card-bordered shadow-none">
                                                <div class="card-body p-6">
                                                    <!-- check input -->
                                                    <div class="d-flex">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="cashonDelivery" value="cashonDelivery" />
                                                            <label class="form-check-label ms-2" for="cashonDelivery"></label>
                                                        </div>
                                                        <div>
                                                            <!-- title -->
                                                            <h5 class="mb-1 h6">Cash on Delivery</h5>
                                                            <p class="mb-0 small">Pay with cash when your order is delivered.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-check mt-4">
                                                <input class="form-check-input" type="checkbox" name="confirmSize" id="confirmSize" required="Please confirm!" />
                                                <label class="form-check-label" for="confirmSize">
                                                    I confirm that I have selected the correct size.
                                                </label>
                                            </div>
                                        </form>
                                        
                                        <!-- Button -->
                                        <div class="mt-5 d-flex justify-content-end">
                                              <a href="#"
                                               class="btn btn-outline-gray-400 "
                                               data-bs-toggle="collapse"
                                               data-bs-target="#flush-collapseOne"
                                               aria-expanded="false"
                                               aria-controls="flush-collapseOne">
                                                P rev
                                            </a> 
                                            <button type="submit" form="formCheckout" class="btn btn-primary ms-2">Place Order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- accordion item -->
                        <div class="accordion-item py-4">
                            <a href="#" class="text-inherit collapsed h5" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <i class="feather-icon icon-search me-2"></i>
                                Ring Size Measurement Instructions
                            </a>
                            <!-- collapse -->
                            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                <div class="container mt-5">
                                    <h2 class="mt-5">Instructions for measuring size and ring size</h2>
                                    <p class="lead">Minh Sang will guide you how to measure your ring size at home & how to secretly measure your ring to create a surprise gift for your loved ones, especially for special solutions in life. With the tips in this article, you can easily shop for diamond rings online without anything to worry about.</p>

                                    <h2 class="mt-5">A. Ring size chart</h2>
                                    <div><img src="https://www.Minh Sang Jewelry Store.com.vn/images/image-update/2020/guide_size_ring/a_bang_sizen_nhan.jpg" alt="" srcset=""></div>
                                    <h2 class="mt-5">B. The simplest ways to measure ring size</h2>
                                    <h3 class="mt-3">1. Measure with paper & ruler</h3>
                                    <ul class="list-unstyled">
                                        <li><strong>Step 1:</strong> Prepare a ruler, 1 scissors, 1 pen & a sheet of paper.</li>
                                        <li><strong>Step 2:</strong>  Cut a piece of paper about 10 cm long and 1 cm wide.</li>
                                        <li><img src="https://www.Minh Sang Jewelry Store.com.vn/images/image-update/2020/guide_size_ring/step-b1.jpg" alt=""></li>
                                        <li><strong>Step 3:</strong> Use the piece of paper you just cut to wrap it tightly around the finger you want to measure.</li>
                                        <li><img src="https://www.Minh Sang Jewelry Store.com.vn/images/image-update/2020/guide_size_ring/step-b2.jpg" alt=""></li>
                                        <li><strong>Step 4:</strong> Mark the intersection point.</li>
                                        <li><img src="https://www.Minh Sang Jewelry Store.com.vn/images/image-update/2020/guide_size_ring/step-b3.jpg" alt=""></li>
                                        <li>
                                            <strong>Step 5:</strong> Remove and use a ruler to measure the length of the piece of paper from the starting point to the marked part. Take the measurement result and divide it by 3.14. Then compare with the .
                                            <strong>Ring Size Table</strong>.
                                        </li>
                                        <li><img src="https://www.Minh Sang Jewelry Store.com.vn/images/image-update/2020/guide_size_ring/step-b4.jpg" alt=""></li>
                                    </ul>
                                    <h3 class="mt-3">2. Measure according to an available ring</h3>
                                    <ul class="list-unstyled">
                                        <li><strong>Step 1:</strong> Prepare a ruler and the ring you want to measure.</li>
                                        <li><img src="https://www.Minh Sang Jewelry Store.com.vn/images/image-update/2020/guide_size_ring/do_1.jpg" alt=""></li>
                                        <li><strong>Step 2:</strong> Compare the mm number of the ruler with the size on the <strong>RING SIZE CHART </strong> above.</li>
                                        <li><img src="https://www.Minh Sang Jewelry Store.com.vn/images/image-update/2020/guide_size_ring/do_3.jpg" alt=""></li>
                                        
                                    </ul>
                                    

                                    <h2 class="mt-5">C. Notes when measuring</h2>
                                    <h3 class="mt-3">1. Finger size depends on temperature</h3>
                                    <p>Temperature is the cause of inaccurate ring size measurements. When the weather is cold, your finger may be smaller than normal, you should add 1 mm to the circumference, and when the weather is hot, the opposite is true, minus 1 mm. In case your finger joints are large, you should measure the circumference near the joint (not on the joint) so that when wearing the ring it is easy to put on but does not slip off.</p>

                                    <h3 class="mt-3">2. Pay attention to the thickness of the ring</h3>
                                    <p>The thickness of the ring also affects each person's nipple size. For rings such as gold rings, silver rings, especially Minh Sang's wedding rings, the thickness will be different. Therefore, when measuring, you need to pay attention and add or subtract some size so that you can wear the ring comfortably without being constrained.</p>
                                    <img src="https://www.Minh Sang Jewelry Store.com.vn/images/image-update/2020/guide_size_ring/do_day_nhan.jpg" alt="">
                                    <h3 class="mt-3">3. Notice the knuckles</h3>
                                    <p>The knuckles may be larger than at the base of the fingers. Therefore, you need to measure the size at the finger joint and the base of the finger, then take the size between the two parts to choose the appropriate ring size. At this point, your hand wearing the ring will feel comfortable and will not feel uncomfortable when bending or bending your fingers. In case your finger joints are large, you should measure the circumference near the joint (not on the joint) so that when you wear the ring, the ring fits easily and does not slip off.</p>
                                    <img src="https://www.Minh Sang Jewelry Store.com.vn/images/image-update/2020/guide_size_ring/khop_tay.jpg" alt="">
                                    <h3 class="mt-3">4. Measure several times to get the most accurate data</h3>
                                    <p>When measuring hand size, there will certainly be errors, so carefully measure 3-4 times to find the most accurate measurement. By doing this, the size you measure will be 85-95% accurate.</p>

                                    <h2 class="mt-5">D. Secret ring size measuring tips</h2>
                                    <h3 class="mt-3">1. Borrow a ring from the person you want to give it to</h3>
                                    <p>Guys can secretly measure the size by pretending to borrow their partner's rings (regular rings, style rings or couple rings are fine), then use a ruler to measure the inner circumference diameter of the ring like this. instructions above.</p>

                                    <h3 class="mt-3">2. Thanks to relatives</h3>
                                    <p>
                                        The simplest way to know your lover's ring size without her finding out or getting suspicious is to ask for help from a relative, be it your mother, sister or friend. They can help you get this information naturally and easily by asking and asking for help trying on gold or silver rings.

                                        Observe and estimate
                                    </p>

                                    <h3 class="mt-3">3. Observe and estimate</h3>
                                    <p>For those who do not know how to measure or for some reason cannot measure, you can estimate the size of the ring hand based on your height and weight according to the table below:</p>
                                    <h5>Name</h5>
                                    <img src="https://www.Minh Sang Jewelry Store.com.vn/images/image-update/2020/guide_size_ring/for_man.jpg" alt="">
                                    <h5>Nữ</h5>
                                    <img src="https://www.Minh Sang Jewelry Store.com.vn/images/image-update/2020/guide_size_ring/for_women.jpg" alt="">

                                    <h3 class="mt-3">4. Pretend to ask that person to try on a ring to help you buy it for someone else</h3>
                                    <p>For this method, you need to cleverly ask that person to help you try on a ring, it could be a beautiful ring or a gold ring bought as a gift for your mother or sister. At the same time, you also need to observe and pay attention to the size of your partner's fingers so you can easily buy a suitable couple ring or wedding ring.</p>
                                    <img src="https://www.Minh Sang Jewelry Store.com.vn/images/image-update/2020/guide_size_ring/thu_nhan.jpg" alt="">
                                    <h3 class="mt-3">5. The secret to measuring naturally</h3>
                                    <p>If the above methods still don't work, you can try: </p>
                                    <ul class="list-unstyled">
                                        <li><strong>Measure her hand while she is sleeping: </strong> Alternatively, you can do this, when she is sleeping, you use a string or thread to measure her finger. If she wakes up, you need to stay calm and say you're stroking her hand to avoid suspicion.</li>
                                        <li><strong>Compare your finger with that person's:</strong> For this method, you need to carefully observe the joint and the size below the base of the finger compared to your similar finger to find out. Get the most accurate ring size. In case the ring doesn't fit, what should I do? Do not worry! Minh Sang has a free product return service within 48 hours. You can rest assured to enjoy shopping and experience the best customer service at Minh Sang!</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                      
                        
                    </div>
                </div>

                <div class="col-12 col-md-12 offset-lg-1 col-lg-4">
                    <div class="mt-4 mt-lg-0">
                        <div class="card shadow-sm">
                            <h5 class="px-6 py-4 bg-transparent mb-0">Order Details</h5>
                            <ul class="list-group list-group-flush">
                                @if(Model.OrderDetail != null)
                                {
                                   
                                    @foreach (var item in Model.OrderDetail)
                                    {
                                        <!-- list group item -->
                                        <li class="list-group-item px-4 py-3">
                                            <div class="row align-items-center">
                                                <div class="col-2 col-md-2">
                                                    <img src="@item.Product.ImageUrl1" alt="Diamond" class="img-fluid" />
                                                </div>
                                                <div class="col-5 col-md-5">
                                                    <h6 class="mb-0">@item.Product.ProductName</h6>
                                                    <span><small class="">@item.NiSize</small></span>
                                                </div>
                                                <div class="col-2 col-md-2 text-center ">
                                                    <span>@item.Quantity</span>
                                                </div>
                                                <div class="col-3 text-lg-end text-start text-md-end col-md-3">
                                                    <span class="fw-bold">@item.Price</span>
                                                </div>
                                            </div>
                                        </li>
                                        totalPrice += item.Price;
                                    }
                                }                      
                                <!-- list group item -->
                                <li class="list-group-item px-4 py-3">
                                    <div class="d-flex align-items-center justify-content-between mb-2">
                                        <div>Item Subtotal</div>
                                        <div class="fw-bold">@totalPrice</div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div>
                                            Discount
                                            <i class="feather-icon icon-info " data-bs-toggle="tooltip" title="Default tooltip"></i>
                                        </div>
                                        <div class="fw-bold">@discountAmount</div>
                                    </div>
                                </li>
                                <!-- list group item -->
                                @{
                                    decimal total = totalPrice - discountAmount;
                                }
                                <li class="list-group-item px-4 py-3">
                                    <div class="d-flex align-items-center justify-content-between fw-bold">
                                        <div>Subtotal</div>
                                        <div>@total</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/assets/libs/flatpickr/dist/flatpickr.min.js"></script>
<!-- Libs JS -->
<!-- <script src="../assets/libs/jquery/dist/jquery.min.js"></script> -->
<script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/libs/simplebar/dist/simplebar.min.js"></script>

<!-- Theme JS -->
<script src="~/assets/js/theme.min.js"></script>