@model IEnumerable<Repository.Models.MaterialPriceList>

@{
    ViewData["Title"] = "MaterialPriceList";
    Layout = "~/Areas/SaleStaff/Views/Shared/_LayoutSaleStaff.cshtml";
}

<h1>MaterialPriceList</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuyPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffDate)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BuyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffDate)
            </td>
           
            
        </tr>
}
    </tbody>
</table>
