@model IEnumerable<Repository.Models.User>
@{
    ViewData["Title"] = "Create Discount";
    Layout = "~/Areas/Manager/Views/Shared/_LayoutManager.cshtml";
}
@using Repository.Models

<h1>User List</h1>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<p>
    <a asp-action="CreateUser">Create New User</a>
</p>
<p>@TempData["Message"]</p>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
<table class="table">
    <thead>
        <tr class="table-warning">
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserStatus)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-success">
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserStatus)
                </td>
                <td>
                    <a asp-action="EditUser" asp-route-id="@item.UserID">Edit</a>
                    <a asp-action="DeleteUser" asp-route-id="@item.UserID" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>