@model IEnumerable<Repository.Models.Warranty>

@{
    ViewData["Title"] = "Warranty";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutCustomer.cshtml";
}

<h1>Warranty</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarrantyStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BuyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarrantyStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ImageUrl1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WarrantyID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WarrantyID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WarrantyID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
