@model IEnumerable<Repository.Models.Product>

@{
    ViewData["Title"] = "Trang Sức Kim Cương";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentPage = ViewBag.CurrentPage;
    var totalPages = ViewBag.TotalPages;
}



<section class="product_section p_section1 product_black_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_area">
                    <div class="product_tab_button"></div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="featured" role="tabpane1">
                            <div class="product_container">
                                <div class="custom-row product_column3">
                                    @foreach (var product in Model)
                                    {
                                        var oldPrice = product.PriceRate * 1.20m;
                                            <div class="custom-col-5">
                                                <div class="single_product">
                                                    <div class="product_thumb">
                                                        <a class="primary_img">
                                                            <img src="images/product/@product.ImageUrl1" alt="product1">
                                                        </a>
                                                        <a class="secondary_img">
                                                            <img src="images/product/@product.ImageUrl2" alt="product1">
                                                        </a>
                                                        <div class="quick_button" style="color: white">
                                                            <a data-toggle="modal" data-target="#modal_box" data-placement="top" data-original-title="Xem Nhanh">Xem Nhanh</a>
                                                        </div>
                                                    </div>
                                                    <div class="product_content" style="color: white">
                                                        <div class="tag_cate">
                                                            <a>@product.ProductCode</a>
                                                        </div>
                                                        <h3><a>@product.ProductName</a></h3>
                                                        <div class="price_box">
                                                            <span class="old_price">@oldPrice $</span>
                                                            <span class="">@product.PriceRate $</span>
                                                        </div>
                                                        <div class="product_hover">
                                                            <div class="action_links">
                                                                <ul>
                                                                    <li><a data-placement="top" title="Thêm vào yêu thích" data-toggle="tooltip"><span class="ion-heart"></span></a></li>
                                                                    <li class="add_to_cart"><a title="Thêm vào giỏ hàng">Thêm vào giỏ hàng</a></li>
                                                                    <li><a title="So sánh"><i class="ion-ios-settings-strong"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                    }
                                    
                                </div>
                                <nav aria-label="Page navigation" >
                                    <ul class="pagination" >
                                        @if (currentPage > 1)
                                        {
                                                            <li class="page-item" style=" color: white; background-color: #a8741a;">
                                                                        <a class="page-link" asp-action="DiamondJewelery" asp-route-pageNumber="@(currentPage - 1)" style=" color: #a8741a; background-color: black;">Previous</a>
                                                        </li>
                                        }

                                        @for (int i = 1; i <= totalPages; i++)
                                        {
                                                            <li class="page-item @(i == currentPage ? "active" : "")" style=" color: white; background-color: #a8741a;">
                                                                        <a class="page-link" asp-action="DiamondJewelery" asp-route-pageNumber="@i" style=" color: #a8741a; background-color: black;">@i</a>
                                                        </li>
                                        }

                                        @if (currentPage < totalPages)
                                        {
                                                            <li class="page-item" style=" color: white; background-color: #a8741a;">
                                                                        <a class="page-link" asp-action="DiamondJewelery" asp-route-pageNumber="@(currentPage + 1)"style=" color: #a8741a; background-color: black;">Next</a>
                                                        </li>
                                        }
            </ul>
        </nav>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>       
    </div>
</section>

